[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

character-set-server=utf8
collation-server=utf8_general_ci
innodb-additional-mem-pool-size=2097152
innodb-buffer-pool-size=1143996416
innodb-file-per-table=ON
innodb-flush-method=O_DIRECT
innodb-log-file-size=134217728
key-buffer-size=16777216
log-bin=ON
binlog-format=MIXED
max-binlog-size=134217728
max-connections=121
open-files-limit=65535
read-buffer-size=262144
read-rnd-buffer-size=524288
thread-stack=196608
#default-time-zone=UTC

symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
